* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    padding: 20px;
    text-align: center;
    font-size: 28px;
    border-bottom: 2px solid #444;
}

#carrito {
    background: #1a1a1a;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #333;
}